#carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  #image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    width: 100%;
    height: auto;
  }

  #prevBtn, #nextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
  }

  #nextBtn {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  #prevBtn:hover, #nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }